﻿@using DemoPagedList.Models
@model PagedList.IPagedList<Contato>


@{
    ViewBag.Title = "Index";
}
<style>
    .paginacao-centro {
        text-align: center;
    }

    .espaco-botao {
        padding-left: 10px;
    }
    .table{
        margin-top: 100px;
    }
</style>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nome
        </th>
        <th>
            Email
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>
<div class="paginacao-centro">
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<< Primeiro", "Index", new { pagina = 1 }, new { @class = "espaco-botao" })
        @Html.ActionLink("< Anterior", "Index", new { pagina = Model.PageNumber - 1 }, new { @class = "espaco-botao" })
    }
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Proximo >>", "Index", new { pagina = Model.PageNumber + 1 }, new { @class = "espaco-botao" })
        @Html.ActionLink("Ultimo >>", "Index", new { pagina = Model.PageCount }, new { @class = "espaco-botao" })
    }
</div>

<fieldset>
    <p>
        Registros encontrados: @Model.TotalItemCount
    </p>
    <p>
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </p>
</fieldset>